.text {
  text-align: center;
  margin-top: 15px;
}

.servicesDiv {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}

.serviceDiv {
  text-align: center;
  width: 35%;
  background-color: antiquewhite;
  padding: 20px;
  margin: 20px;
  border-radius: 15px;
}
