

.body {
    display: flex;
    flex-direction: row;
  
 
}

.ProfilePicture{
    padding:10px;
    height: 64px;
    border-radius: 50%;
}

.text1{
    text-align: center;
    margin-top: -50px;
}





.btnNo {
    width: 100px;
    height: 40px;
    font-weight: bold;
    margin-left: 20px;
    padding: 5px;
    background-color: #94c043;
    border: 0px;
    color: white;
    border-radius: 4px;
    cursor: pointer;
}

/* List user */

.viewListUser {
    max-height: 100vh;
    min-height: 90vh;
    height: auto;
    /* padding-top: 10px; */
    /* padding-bottom: 10px; */
   
}

.viewListUser::-webkit-scrollbar-track {
    padding: 2px 0;
    background-color: #ffffff;
}

.viewListUser::-webkit-scrollbar {
    width: 6px;
}

.viewListUser::-webkit-scrollbar-thumb {
    border-radius: 10px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #9999;
}

.viewWrapItem {
    border: none;
    display: flex;
    background-color: #fff;
 
    padding: 10px;
    align-items: center;
    justify-content: center;
    /* border-left: 15px solid #1ebea5; */
    /* margin-bottom: 3px; */
    border-bottom: 1px solid rgb(220,220,220);
  
}






.viewAvatarItem {
    width: 50px;
    height: 50px;
    border-radius: 25px;
    object-fit: cover;
    /* background-image: url(../../images/nopic.jpg) */

}

.viewWrapContentItem {
    flex-direction: column;
    display: flex;
    flex: 1;
    margin-left: 15px;
    color: #203152;
    word-wrap: break-word;
}

.textItem {
    display: block;
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    width: 240px;
    text-align: left;
    font-size: 14px;
}


/* --------------------------------SEARCH BUTTON DESIGN-------------------------------- */
    .rootsearchbar{
    padding:10px;
    width: 100%; 
        margin-bottom: 10px; 
    background-color: #ccaeae;
    }

 
    
    .profileviewleftside{
    padding:10px;
    width: 100%; 
    background-color:  #d8d0d0;
    height: 64px;
    position: relative;
    margin-top: 0;
}

  

  .input-field {
    width: 100%;
   
    border-radius: 10px;
    
    /* margin-right: 85%; */
    border: none ! important;
    box-shadow: none ! important;
    outline: none ! important;
    
    width: 100%; 
    padding: 10px; 
    text-align: center; 
  }
  
  .input-field:focus {
    border: 2px solid dodgerblue;
  }
  
